node_modules
proxy/node_modules
.git
.backups
backups
webserver
data
mail
opt_webserver_backup
logs
*.log
*.mov
recovered.html
*.ses
*.se2
recovery_dir
.env
.env.*
Dockerfile
docker-compose*.yml
github_deploy_key*
.github
*.tar.gz
