:6800 {
    # Forward all traffic to the active Bun webserver container
    reverse_proxy webserver-blue:6800 {
        header_up X-Mitch-Client-IP {http.request.header.X-Mitch-Client-IP}
        header_up -CF-Connecting-IP
        header_up -X-Real-IP
        header_up -X-Forwarded-For
    }
}
